root = true

[*]
indent_style = space  #缩进的类型  space/tab
indent_size = 2 #缩进大小
end_of_line = lf #定义换行符
charset = utf-8 #定义编码格式
trim_trailing_whitespace = false #是否去除换行行首的任意空白字符
insert_final_newline = true #文件是否以一个空白行结尾